* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Arial', sans-serif;
}

img {
    display: block;
    width: 100%;
}

.container {
    width: 1020px;
    padding: 35px;
    margin: 0 auto;
}

.header {
    background: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 6px solid #323746;
}

.menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu li::after {
    display: block;
    content: '';
    width: 3px;
    height: 3px;
    background: #fff;
    opacity: 0.4;
    border-radius: 50%;
}

.menu li:last-child::after {
    display: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 11.5px;
    color: white;
    transition: 0.3s;
}

.menu li a:hover,
.menu li a:focus {
    color: #f06c64;
}

.slider {
    position: relative;
    min-height: 90vh;
    background-color: #f06c64;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid #ea676b;
}

.image {
    position: absolute;
}

.vertical {
    top: -17px;
    left: 110px;
    width: 600px;
}

.horizontal {
    top: 50px;
    left: 350px;
    width: 600px;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    background: transparent;
    display: block;
    padding: 0;
    outline: none;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn i {
    font-size: 30px;
}

.services {
    background: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.services h2,
h3 {
    font-weight: 900;
    color: #666d89;
}

.title {
    font-size: 30px;
}

.description {
    font-size: 18px;
    color: #666d89;
}

.services__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.services__list p {
    color: #666d89;
    font-size: 12px;
}

.services__item {
    width: 33%;
    display: flex;
}

.services__item::before {
    margin-top: 20px;
    display: block;
    content: '';
    width: 80px;
    height: 80px;
    background-image: url("img/phone.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.services__item:nth-child(1)::before {
    background-image: url("img/pencil.png");
}

.services__item:nth-child(2)::before {
    background-image: url("img/lamp.png");
}

.services__item:nth-child(3)::before {
    background-image: url("img/heart.png");
}

.services__item:nth-child(4)::before {
    background-image: url("img/phone.png");
}

.services__item:nth-child(5)::before {
    background-image: url("img/message.png");
}

.services__item:nth-child(6)::before {
    background-image: url("img/star.png");
}

.content-wrapper {
    padding: 10px;
    width: 75%;
    overflow: hidden;
}

.content-wrapper h3 {
    font-size: 18px;
}